.text-char {
    background-color: #fdb4e8;
}

.text-place {
    background-color: #9ef39e;
}

.text-quot {
    background-color: #fcf37d;
}



.animatetext {
    animation-name: bgcolor ;
    animation-duration: 0.75s ; 
    animation-iteration-count: 6;
    animation-fill-mode: backwards;
}

@keyframes bgcolor {
    from { background-color: #ffffff;  }
    to { background-color: #fba66c; }
}

