/* Override text section padding for better display on smaller screens */
@media only screen and (max-device-width: 480px) { 
	#journalIntro, #editorInfo, #editionIntro, #projectDocumentation {
		padding-left: 1em !important;
		padding-right: 1em !important;
	}
}

/* Custom fonts for logo, headings, and general text */
@font-face {
	font-family: MondrianTitles;
	src: url(Jigsaw-gxwOE.ttf);
}

@font-face {
	font-family: MondrianText;
	src: url(Hurtmold-G5mA.otf);
}

h1, h3, .jumbotronTitle, .navbar-brand, .nav-item, footer, #introquote {
	font-family: MondrianTitles;
	color: #000000;
}

.textsection, button, .modal-content, .dropcap {
	font-family: MondrianText, "Lucida Bright", sans-serif;
	font-size: 15pt;
}

/* Navbars */
.navbar-brand, #introquote {
	font-size: 25pt;
	color: #000000;
}

.nav-link, .dropdown-item {
	color: #000000;
}

.navbar {
	background-color: #E10600 !important;
}

#cssnavbar {
	background-color: #FEDD00 !important;
}

.sec-nav {
	color: #000000;
}

/* Jumbotron styling */
.jumbotron {
	background-color: #FEDD00;
	padding-bottom: 1cm;
}

/* Jumbotron text styling */
.sign {
	font-family: MondrianTitles;
	font-size: 50pt;
	color: #000000;
	text-shadow: 2px 2px #0000BF;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 70%;
	height: 50%;
	transform: translate(-50%, -50%);
	letter-spacing: 2;
	left: 50%;
	top: 50%;
		
}

/* Change of jumbotron images */
.jumbotronTitleH, .jumbotronTitleE, .jumbotronTitleD {
	background-image: url(Images/ShhMan.jpg) !important;
}

.jumbotronTitleB {
	background-image: url(Images/Pattern2.jpg) !important;
}

.jumbotronTitleC {
	background-image: url(Images/SevillaCropAdj.jpg) !important;
}

/* Layout style of homepage */
#journalIntro {
	border-style: solid;
	border-width: 1em;
	border-color: #000000;
	padding: 2em;
	margin: 2em;
}

#gracianquote, #shakespearequote {
	border-style: solid;
	border-width: 0.5em;
	border-color: #000000;
	padding: 1em;
	background-color: #0000BF;
	color: #000000;
}

/* Add dropcap and style sections of text */
.dropcap::first-letter {
	font-size: 30pt;
	float: left;
	margin-right: 15px;
	font-family: MondrianTitles;
}

.dropcap, .thumbnail {
	border-style: solid;
	border-width: 0.5em;
	border-color: #000000;
	padding: 1em;
	background-color: #0000BF;
	color: #000000;
}

/* Captions of thumbnails on homepage */
.caption {
	font-family: MondrianText, "Lucida Bright", sans-serif;
	font-size: 12pt;
	text-align: center;
}

/* Styling for all parts of the metadata toolbar */
.metadata {
	border-style: solid;
	border-width: 0.5em;
	border-color: #000000;
	padding: 1em;
	background-color: #E10600;
	color: #000000;
}

.languagebutton {
  transition-duration: 0.4s;
  background-color: #E10600;
  color: white;
}

.languagebutton:hover {
  background-color: white;
  color: black;
}

.checkbox, #sentenceContent, #list {
	font-family: MondrianText, "Lucida Bright", sans-serif;
	font-size: 12pt;
}

#char-tab, #place-tab, #quot-tab {
	color: #000000;
}

#list li a, .minimal a {
	color: #FEDD00;
}

.nav-tabs {
	background-color: #E10600 !important;
}

.nav-link.active {
	background-color: #FEDD00;
}	

.text-char {
    background-color: #E10600;
}

.text-place {
    background-color: #FEDD00;
}

.text-quot {
    background-color: #08FF08;
}

.animatetext {
    animation-name: bgcolor ;
    animation-duration: 0.75s ; 
    animation-iteration-count: 6;
    animation-fill-mode: backwards;
}

@keyframes bgcolor {
    from { background-color: #ffffff;  }
    to { background-color: #FEDD00; }
}

/* Styling for text on Editor and Documentation pages*/
#RebDetails {
	border-style: solid;
	border-width: 0.5em;
	border-color: #000000;
	padding: 1em;
	background-color: #0000BF;
	color: #000000;
	margin-bottom: 1em;
}

#editorInfo, #projectDocumentation {
	border-style: solid;
	border-width: 1em;
	border-color: #000000;
	padding: 2em;
	margin: 2em;
}