/* Override text section padding for better display on smaller screens */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
	#journalIntro, #editorInfo, #editionIntro, #projectDocumentation {
		padding-left: 1em !important;
		padding-right: 1em !important;
	}
}

@media only screen and (min-width: 321px) {
	#journalIntro, #editorInfo, #editionIntro, #projectDocumentation {
		padding-left: 1em !important;
		padding-right: 1em !important;
	}
}

@media only screen and (max-width: 320px) {
	#journalIntro, #editorInfo, #editionIntro, #projectDocumentation {
		padding-left: 1em !important;
		padding-right: 1em !important;
	}
}

/* Custom font for logo and headings and font styling for general text */
@font-face {
	font-family: VogueTitles;
	src: url(Vogue.ttf);
}

h1, h3, .jumbotronTitle, .navbar-brand, .nav-item, footer, #introquote {
	font-family: VogueTitles;
}

.textsection, button, .modal-content, .dropcap {
	font-family: Garamond, Cambria, Serif;
	font-size: 14pt;
}

/* Navbars */
.navbar-brand, #introquote {
	font-size: 25pt;
}

.sec-nav {
	color: #000000;
}

/* Add dropcap and style sections of text */
.dropcap::first-letter {
	font-size: 30pt;
	float: left;
	margin-right: 15px;
	font-family: VogueTitles;
}

/* Captions of thumbnails on homepage */
.caption {
	font-family: Garamond, Cambria, Serif;
	font-size: 12pt;
	text-align: center;
}

/* Styling for all parts of the metadata toolbar */
.metadata {
	border-style: solid;
	padding: 2em;
}

.checkbox, #sentenceContent, #list {
	font-family: Garamond, Cambria, Serif;
	font-size: 12pt;
}

#char-tab, #place-tab, #quot-tab, #list li a, .minimal a {
	color: #000000;
}

.text-char {
    background-color: #414a4c;
}

.text-place {
    background-color: #e5e4e2;
}

.text-quot {
    background-color: #979aaa;
}

.animatetext {
    animation-name: bgcolor ;
    animation-duration: 0.75s ; 
    animation-iteration-count: 6;
    animation-fill-mode: backwards;
}

@keyframes bgcolor {
    from { background-color: #ffffff;  }
    to { background-color: #ff6347; }
}

/* Styling for language buttons in editions */
.languagebutton {
  transition-duration: 0.4s;
}

.languagebutton:hover {
  background-color: #000000;
  color: white;
}

/* Jumbotron text animation */
.sign {
  position: relative; 
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 50%;
  background-image: radial-gradient(
    ellipse 50% 35% at 50% 50%,
    #200711,
    transparent
  );
  transform: translate(-50%, -50%);
  letter-spacing: 2;
  left: 50%;
  top: 50%;
  font-family: VogueTitles;
  text-transform: uppercase;
  font-size: 3.5em;
  color: #000000;
  text-shadow: 0 0 0.6rem #000000, 0 0 1.5rem #dcdcdc,
    -0.2rem 0.1rem 1rem #dcdcdc, 0.2rem 0.1rem 1rem #dcdcdc,
    0 -0.5rem 2rem #ffffff, 0 0.5rem 3rem #ffffff;
  animation: shine 2s forwards, flicker 3s infinite;
}

@keyframes blink {
  0%,
  22%,
  36%,
  75% {
    color: #000000;
    text-shadow: 0 0 0.6rem #000000, 0 0 1.5rem #dcdcdc,
      -0.2rem 0.1rem 1rem #dcdcdc, 0.2rem 0.1rem 1rem #fdcdcdc,
      0 -0.5rem 2rem #ffffff, 0 0.5rem 3rem #ffffff;
  }
  28%,
  33% {
    color: #dcdcdcs;
    text-shadow: none;
  }
  82%,
  97% {
    color: #ffffff;
    text-shadow: none;
  }
}

.flicker {
  animation: shine 2s forwards, blink 3s 2s infinite;
}

.fast-flicker {
  animation: shine 2s forwards, blink 10s 1s infinite;
}

@keyframes shine {
  0% {
    color: #63666A;
    text-shadow: none;
  }
  100% {
    color: #000000;
    text-shadow: 0 0 0.6rem #000000, 0 0 1.5rem #ffffff,
      -0.2rem 0.1rem 1rem #ffffff, 0.2rem 0.1rem 1rem #000000,
      0 -0.5rem 2rem #ffffff, 0 0.5rem 3rem #ffffff;
  }
}

@keyframes flicker {
  from {
    opacity: 1;
  }

  4% {
    opacity: 0.9;
  }

  6% {
    opacity: 0.85;
  }

  8% {
    opacity: 0.95;
  }

  10% {
    opacity: 0.9;
  }

  11% {
    opacity: 0.922;
  }

  12% {
    opacity: 0.9;
  }

  14% {
    opacity: 0.95;
  }

  16% {
    opacity: 0.98;
  }

  17% {
    opacity: 0.9;
  }

  19% {
    opacity: 0.93;
  }

  20% {
    opacity: 0.99;
  }

  24% {
    opacity: 1;
  }

  26% {
    opacity: 0.94;
  }

  28% {
    opacity: 0.98;
  }

  37% {
    opacity: 0.93;
  }

  38% {
    opacity: 0.5;
  }

  39% {
    opacity: 0.96;
  }

  42% {
    opacity: 1;
  }

  44% {
    opacity: 0.97;
  }

  46% {
    opacity: 0.94;
  }

  56% {
    opacity: 0.9;
  }

  58% {
    opacity: 0.9;
  }

  60% {
    opacity: 0.99;
  }

  68% {
    opacity: 1;
  }

  70% {
    opacity: 0.9;
  }

  72% {
    opacity: 0.95;
  }

  93% {
    opacity: 0.93;
  }

  95% {
    opacity: 0.95;
  }

  97% {
    opacity: 0.93;
  }

  to {
    opacity: 1;
  }
}